
.wrapper {
  margin: 0 auto ;
  max-width: 70rem;
  padding: 1.3rem;
}

.wrapperview {
  margin: 0 auto ;
  max-width: 70rem;
  padding: 1.3rem;
display: flex;
}

.wrappingitem{
  padding-right: 2rem;
  width: 20rem;
  text-align: left;
}

.wrappingitem1{
  padding-right: 2rem;
  width: 20rem;
  text-align: center;
}
